@import 'login';
@import 'header';
@import 'footer';
@import 'create-raff';
@import 'meus-raffs';
@import 'perfil';
@import 'modal';
@import 'dashboard';
@import 'criado-com-sucesso';
@import '404';
@import 'bem-vindo';
@import 'index';

body {
    background-color: $color-secundary-light;   
}
.img-icone {
    @include width(24px);
    height: auto;
}
.logo-lg {
    @include width(150px);
    @include height(54px);
}
.cta-criar-raff {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
}
.msg-danger {
    @extend %msg-danger;
    width: 558px;
    margin: 1.5rem 0;
}
.msg-attention {
    @extend %msg-attention;
    width: 558px;
    margin: 1.5rem 0;
}
.msg-success {
    @extend %msg-success;
    width: 558px;
    margin: 1.5rem 0;
}