.modal {
    .modal-content {
        padding: 1rem;
    }
    .modal-content, .modal-header, .modal-footer {
        border: none;
    }
    .modal-header {
        font-family: $roboto-b;
        .close {
            span {
                color: $color-primary;
            }
        }
    }
    .modal-body {
        font-family: $roboto-r;
        @extend %texto;
        color: $color-context-gray;
    }
    .btn-sair {
        @extend %button-primary;
        padding: .5rem 1.5rem;
    }
    .btn-cancelar {
        @extend %button-secundary;
        cursor: pointer;
        padding: .5rem 1.5rem;
        margin-right: 1rem;
    }
}